<!doctype html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Title -->
		<title>Account</title>

		<!-- Favicon -->
		<link rel="icon" href="favicon.ico" type="image/x-icon" />

		<!-- Include CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/owl-carousel/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/owl-carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/style.css">

		<!--<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,400i,700,800" rel="stylesheet">--->

	</head>

	<body>
         



		<!-- Loader -->
		<div id="loader" class="loader">
			<div class="loader-content">
				<img src="/images/img3/loader.png" alt="Loading...">
			</div>
		</div>

		<!-- Header container -->
		<div class="header-bg">
			<!-- Container -->
			<div class="container">

				<div class="row flex">
					<!-- Logo column -->
					<div class="col-xs-12 col-sm-5 col-md-4 flex">
						<a href="index.html">
							<!-- Logo -->
							<img src="/images/img3/logo.png" class="logo img-responsive" alt="PhotoMarket">
						</a>
					</div>

					<!-- Menu column -->
					<div class="col-xs-12 col-sm-7 col-md-8 flex flex-center">
						<!-- Menu -->
						<ul class="nav nav-pills">
							<li role="presentation"><a href="#" id="cart" data-toggle="tooltip" data-placement="bottom" title="Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="badge">4</span></a></li>
							<li role="presentation"><a href="#">Log out</a></li>
							<li role="presentation"><a href="account.html">Your Account</a></li>
							<li role="presentation"><a href="login.html"><b>Welcome,</b>log in</span></a></li>
						</ul>

					</div>
				</div>

				<!-- Shopping cart -->
				<div class="container absolute cart-container">
					<div class="shopping-cart">
						<!-- Shopping cart header -->
						<div class="shopping-cart-header">
							<!-- Total products in cart -->
							<i class="fa fa-shopping-cart cart-icon"></i><span class="badge">4</span>
							<!-- Total cart -->
							<div class="shopping-cart-total">
								<span class="lighter-text">Total:</span>
								<span class="main-color-text">$34.98</span>
							</div>
						</div>
						<!-- Shopping cart items -->
						<ul class="shopping-cart-items">
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/1.jpg" width="70" alt="item1" />
								<!-- Item Name -->
								<span class="item-name">Rails</span>
								<!-- Item Price -->
								<span class="item-price">$19.99</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/2.jpg" width="70" alt="item2" />
								<!-- Item Name -->
								<span class="item-name">Forest leaves</span>
								<!-- Item Price -->
								<span class="item-price">$9.99</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/3.jpeg.jpg" width="70" alt="item3" />
								<!-- Item Name -->
								<span class="item-name">The tiger</span>
								<!-- Item Price -->
								<span class="item-price">$5.00</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/4.jpeg.jpg" width="70" alt="item4" />
								<!-- Item Name -->
								<span class="item-name">Flowers</span>
								<!-- Item Price -->
								<span class="item-price">FREE</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
						</ul>
						<!-- Checkout button -->
						<a href="checkout.html" class="button">Checkout</a>
					</div>
				</div>

			</div>
		</div>

		<!-- Page container -->
		<div class="inner-content-home">
			<div class="container">

				<div class="row margin-bottom-20">

					<!-- Profile info -->
					<div class="col-md-3 col-sm-5">
						<div class="img-profile text-center">
							<img src="/images/img3/default.jpg" class="img-responsive" alt="John Doe">
							<div class="profile-name">
								John Doe
							</div>
						</div>

						<h4 class="title">Personal Information</h4>
						<div class="line-dec"></div>
                     
						<ul class="list-group">
							<li class="list-group-item"><b>Credits/Money:</b>3 usd</li>
							<li class="list-group-item"><a href="#"><b>Pending sales</b> <span class="badge">3</span></a></li>
							
							<li class="list-group-item"><b>E-mail:</b>18174001013@139.com</li>
							<li class="list-group-item"><a href="#"><b>Pictures buyed</b> <span class="badge">10</span></a></li>
							<li class="list-group-item"><b>Total money acquired:</b> $119usd</li>
						
						
						1
						</ul> 
					
						<a href="#" class="btn btn-block btn-success">Edit information</a>
					</div>

						<!-- photo list item -->
							<% detail.forEach((d,i)=>{ %>
							<div class="media photo-list">
								<!-- photo item image -->
								<div class="media-left">
									<a href="#">
										<img src="/images/img3/photos/1.jpg" class="media-object photo-list-image" alt="List photo">
									</a>
								</div>
								
								<!-- photo item body -->
								<div class="media-body">
									<div class="row">
									<form action="/g/b" method="POST">
										<!-- Description column -->
										<div class="col-sm-8">
											<h4 class="media-heading photo-list-title" id="media-heading photo-list-title">
											借阅人:	<%=d.姓名 %> <span class="badge">NEW!</span>
											<input type="hidden" name="姓名" value="<%=d.姓名 %>" >
											</h4>
											<p class="text-justify photo-list-description">
											所借书籍:<%=d.书籍名称 %>
											</p>
											<p class="text-justify photo-list-description">
											邮箱:<%=d.邮箱 %>
											</p>
										</div>
									
										<!-- Price and actions -->
										<div class="col-sm-4">
											<h4 class="media-heading photo-list-price">
											书籍状态:<%=d.书籍状态 %>	<small>usd</small>
											</h4>
	
											<!-- <input type="submit"  class="btn btn-block btn-success" value="还书"> -->
											<!-- <a href="" class="btn btn-block btn-primary">还书</a> -->
										</div>
									</form>
									</div>
								</div>
								
							</div>
								<%})  %>
	

				
					<!-- <div class="col-md-6 col-sm-7">
						<h4 class="title">Your photos</h4>
						<div class="line-dec"></div>

						<div class="grid">

							<div class="grid-sizer"></div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/3.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/1.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/2.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/4.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/1.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/4.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/3.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/2.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/3.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/1.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/2.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/4.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/1.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/4.jpeg.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

							<div class="grid-item">
								<a href="picture.html">
									<img src="/images/img3/your-photos/3.jpg" class="img-responsive" alt="your-photo">
								</a>
							</div>

						</div>
					</div> -->

					<div class="col-md-3 col-sm-12">
						<h4 class="title">Lasts sales</h4>
						<div class="line-dec"></div>

						<!-- photo list item -->
						<div class="media photo-list">
							<a href="#">
								<img src="/images/img3/photos/1.jpg" class="img-responsive margin-bottom-20" alt="Last sale photo 1">
							</a>
							<div class="media-body">
								<div class="row">
									<!-- Description column -->
									<div class="col-sm-8">
										<h4 class="media-heading photo-list-title">
											Aliquam erat velit
										</h4>
									</div>
									<!-- Price and actions -->
									<div class="col-sm-4">
										<h4 class="media-heading photo-list-price">
											4.99$ <small>usd</small>
										</h4>
									</div>
								</div>
							</div>
						</div>

						<!-- photo list item -->
						<div class="media photo-list">
							<a href="#">
								<img src="/images/img3/photos/1.jpg" class="img-responsive margin-bottom-20" alt="Last sale photo 2">
							</a>
							<div class="media-body">
								<div class="row">
									<!-- Description column -->
									<div class="col-sm-8">
										<h4 class="media-heading photo-list-title">
											Aliquam erat velit
										</h4>
									</div>
									<!-- Price and actions -->
									<div class="col-sm-4">
										<h4 class="media-heading photo-list-price">
											4.99$ <small>usd</small>
										</h4>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>

		<!-- Footer -->
		<div class="container">
			<div id="footer">
				<div class="row">
					<!-- Information column -->
					<div class="col-sm-4">
						<h4 class="footer-title">Information</h4>
						<div class="line-dec"></div>
						<ul>
							<li><a href="javascript:void(0)" data-toggle="modal" data-target="#legalModal">Legal advice</a></li>
							<li><a href="javascript:void(0)" data-toggle="modal" data-target="#termsModal">Terms and conditions</a></li>
							<li><a href="about-us.html">About us</a></li>
						</ul>
					</div>

					<!-- Offers column -->
					<div class="col-sm-4">
						<h4 class="footer-title">Our offers</h4>
						<div class="line-dec"></div>
						<ul>
							<li><a href="#">New photos</a></li>
							<li><a href="#">Top sellers</a></li>
							<li><a href="#">Discount photos</a></li>
						</ul>
					</div>

					<!-- Account column -->
					<div class="col-sm-4">
						<h4 class="footer-title">Your account</h4>
						<div class="line-dec"></div>
						<ul>
							<li><a href="account.html">Your profile</a></li>
							<li><a href="#">Personal information</a></li>
							<li><a href="#">Shopping history</a></li>
						</ul>
					</div>

					<!-- Copyright -->
					<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>

		<!-- Modal Legal advice -->
		<div class="modal fade" id="legalModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<h4 class="title">Legal advice</h4>
						<div class="line-dec"></div>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							<br><br>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Terms and conditions -->
		<div class="modal fade" id="termsModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<h4 class="title">Terms and conditions</h4>
						<div class="line-dec"></div>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							<br><br>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Include Scripts -->
		<script type="text/javascript" src="/javascripts/js3/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/javascripts/js3/bootstrap.min.js"></script>
		<script type="text/javascript" src="/stylesheets/css3/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/javascripts/js3/main.js"></script>
		<script type="text/javascript" src="/javascripts/js3/masonry.pkgd.min.js"></script>

		<script type="text/javascript">

			// Masonry grid
			var $grid = $('.grid').masonry({
				itemSelector: '.grid-item',
				columnWidth: '.grid-sizer',
				percentPosition: true,
				transitionDuration: '0.2s',
				stagger: 30,
				resize: true,
			});

		</script>

	</body>
</html>

