<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/add.css">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    
     <!-- <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="shortcut icon" href="img/bitbug_favicon2.ico" />  -->
</head>
<body>
          <div class="changes" id="changes">
    <form action="/c/add" method="POST">
                <span>书籍 id：</span>
                <input type="number" name="id" value="<%=id %>" required="">   
              
                <span>书籍编号：</span>
                <input type="number" name="编号" value="<%=obj.编号 %>"  placeholder="请输入名字"class="change"required="" >
            
                <span>书籍名称：</span>
                <input type="text"name="名称" value="<%=obj.名称 %>" placeholder="请输入数学成绩" class="change"required="">
                
                <span>书籍作者：</span>
                <input type="text" name="作者" value="<%=obj.作者 %>" placeholder="请输入英语成绩" class="change"required="">
          
                <span>书籍分类：</span>
                <input type="text"  name="分类" value="<%=obj.分类 %>" placeholder="请输入总成绩" class="change"required=""> 
           
                <span>书籍描述：</span>
                <input type="text"  name="描述" value="<%=obj.描述 %>" placeholder="请输入总成绩" class="change"required=""> 
           
                <span>书籍价格：</span>
                <input type="text"   name="价格" value="<%=obj.价格 %>" placeholder="请输入总成绩" class="change"required=""> 
                <input type="submit" value="提交">  
            </form>
        </div> 
   
    


</body>
</html>