<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

<!-- Basics -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Home</title>
<link name="author" href="" />
<meta name="description" content="">

<!-- Favicons -->
<link rel="shortcut icon" href="/images/img2/favicons/favicon.ico">

<!-- Mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/css2/normalize.min.css">
<link rel="stylesheet" href="/stylesheets/css2/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/test3.css">
<!-- Fonts -->
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>
<style type="text/css">
	body{
		margin: 0px;
	}
	.zhezhao{
		position: fixed;
		left: 0px;
		top: 0px;
		background: #000;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
	.tankuang{
		position: relative;
		background: #fff;
		width: 50%;
		height: 80%;
		border-radius: 5px;
		margin: 5% auto;
	}
	#header{
		height: 40px;
	}
	#header-right{
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 5px;
		background: red;
		color: #fff;
		right: 5px;
		top: 5px;
		text-align: center;	}
    .zl{
	height: 35px;
    width: 180px;
    margin-top: 45px;
    margin-left: 45px;
		}

</style>
</head>	
<body>   

<div class="wrapper">

	<header>
		<a class="menu-icon jiji">
			<span></span>
		</a>
		<nav class="menu visuallyhidden">
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About me</a></li>
				<li><a href="#work">My Works</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<section id="home" class="row">
		<div class="overlay">
			<div class="col home-title jiji">
				<h1>John Deo</h1>
				<h2>UI / UX / Frontend</h2>
				<a href="#" target="_blank" class="but">Download Resume</a>
			</div>
		</div>
	</section>

	<section id="about" class="row">
		<div class="page about-content">
			<div class="col about-title">
				<h3
					data-100="-webkit-transform: translateX(100px); opacity:0;"
					data-500="-webkit-transform: translateX(0px); opacity:1;"
				>About me</h3>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col about-description">
				<p
					data-100="opacity:0;"
					data-500="opacity:1;"
				>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
				<a href="#" class="but">Get in touch</a>
			</div>
			<div class="col empty">&nbsp;</div>
		</div>
	</section>

	<section id="services" class="row">
		<div class="all1" style="color: red;">
			<div class="ad">
	<table class="ui" id="er">
		
	
	<tr >
		<th class="q">编号</th>
		<th class="q">名称</th>
		<th class="q">作者</th>
		<th class="w">类别</th>
		<th class="y">描述</th> 
		<th class="t">操作</th>
	</tr>
		<tbody class="show1" >
				<% detail.forEach((d,i)=>{ %>
				<tr>
					<td><%=d.编号 %></td>
					<td><%=d.名称 %></td>
					<td><%=d.作者 %></td>
					<td><%=d.分类 %></td>
					<td><%=d.描述 %></td>
					<td class="j">
						<button onclick="zl()" class="z" data-id=<%=i %>> 租赁 </button></a>
						<!-- <button class="o" data-id=<%=i %>>删除</button>    -->
					<span class="upBtn"></span><span class="downBtn"></td>
				</tr>
			
			<%})  %>
				
				
			
			</tbody>
			
	</table>
	
			</div>
			
		   </div>
		   <!-- <button type="button" onclick="dianwo()">点我</button> -->
		   <div class="zhezhao" id='zhezhao'>
			   <div class="tankuang">
				   <div id="header">
					   <form action="/someindent" method="POST">
						<input class="zl"type="text" name="id" placeholder="id">
					   <input class="zl"type="text" name="姓名" placeholder="姓名">
					   <input class="zl"type="text"name="年龄" placeholder="年龄">
					   <input class="zl"type="text" name="手机号" placeholder="手机号">
					   <input class="zl"type="text" name="邮箱" placeholder="邮箱">
					   <input class="zl"type="text" name="书籍名称" placeholder="书籍名称">
					   <input class="zl"type="text" name="初始时间" placeholder="初始时间">
					   <input class="zl"type="text" name="截至时间" placeholder="截至时间">
					   <input class="zl"type="text" name="书籍状态" placeholder="书籍状态">
					   <input class="zl"type="submit" value="租赁">
				   </form>
					   <div id="header-right" onclick="hidder()">x</div>
				   </div>
			   </div>
		   </div> 
			

	</section>

	<hr>

	<section id="work" class="row">
		<div class="work-content page">
			<div class="col work-title">
				<h3
					data-900="-webkit-transform: translateX(-100px); opacity:0;"
					data-1300="-webkit-transform: translateX(0px); opacity:1;"
				>My latest work</h3>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col work-description">
				<p
					data-900="opacity:0;"
					data-1300="opacity:1;"
				>A selection of recent projects I've been working on: landing pages, websites, email marketing...</p>
			</div>
			<div class="col empty">&nbsp;</div>
		</div>
		<div class="work-examples page">
			<div class="col work-item"
				data-1300="opacity:0;"
				data-1400="opacity:1;"
			>
				<img src="/images/img2/works/1.jpg" alt="">
				<div class="work-item-inside">
					<div class="work-item-inside-content">
						<h4>Design</h4>
						<a href="#" class="but">Click here</a>
					</div>
				</div>
			</div>
			<div class="col work-item"
				data-1300="opacity:0;"
				data-1400="opacity:1;"
			>
				<img src="/images/img2/works/1.jpg" alt="">
				<div class="work-item-inside">
					<div class="work-item-inside-content">
						<h4>Design</h4>
						<a href="#" class="but">Click here</a>
					</div>
				</div>
			</div>
			<div class="col work-item"
				data-1300="opacity:0;"
				data-1600="opacity:1;"
			>
				<img src="/images/img2/works/1.jpg" alt="">
				<div class="work-item-inside">
					<div class="work-item-inside-content">
						<h4>Design</h4>
						<a href="#" class="but">Click here</a>
					</div>
				</div>
			</div>
			<div class="col work-item"
				data-1300="opacity:0;"
				data-1400="opacity:1;"
			>
				<img src="/images/img2/works/1.jpg" alt="">
				<div class="work-item-inside">
					<div class="work-item-inside-content">
					   <h4>Design</h4>
					   <a href="#" class="but">Click here</a>
					</div>
				</div>
			</div>
			<div class="col work-item"
				data-1300="opacity:0;"
				data-1500="opacity:1;"
			>
				<img src="/images/img2/works/1.jpg" alt="">
				<div class="work-item-inside">
					<div class="work-item-inside-content">
						<h4>Design</h4>
						<a href="#" class="but">Click here</a>
					</div>
				</div>
			</div>
			<div class="col work-item"
				data-1300="opacity:0;"
				data-1600="opacity:1;"
			>
				<img src="/images/img2/works/1.jpg" alt="">
				<div class="work-item-inside">
					<div class="work-item-inside-content">
						<h4>Design</h4>
						<a href="#" class="but">Click here</a>
					</div>
				</div>
			</div>                    
		</div>
	</section>

	<hr>

	<section id="contact" class="row">
		<div class="contact-content page">
			<div class="col contact-title">
				<h3
					data-100="-webkit-transform: translateX(100px); opacity:0;"
					data-500="-webkit-transform: translateX(0px); opacity:1;"
				>Get in touch</h3>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col contact-description">
				<a href="#" class="but">hello@afrussel.com</a>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col span_12 social">
				<a class="icon-twitter" href="#" target="_blank"></a>
				<a class="icon-github" href="#" target="_blank"></a>
				<a class="icon-instagram" href="#" target="_blank"></a>
				<a class="icon-linkedin" href="#" target="_blank"></a>
			</div>
		</div>
	</section>

	<footer id="footer" class="row">
		<div class="footer-content page">
			<div class="col f1">
				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>
	</footer>

</div>

<div class="loader"></div>

<!-- JavaScript -->
<script src="/javascripts/js2/jquery-1.11.0.min.js"></script>
<script src="/javascripts/js2/modernizr-2.6.2.min.js"></script>
<script src="/javascripts/js2/skrollr.js"></script>
<script src="/javascripts/js2/main.js"></script>
<script src="/javascripts/Table.js"></script>
<script type="text/javascript">
	document.getElementById('zhezhao').style.display="none";
	function dianwo(){
		document.getElementById('zhezhao').style.display="";
	}
	function hidder(){
		document.getElementById('zhezhao').style.display="none";
	}
</script>

</body>

</html>