<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
 
<body>

<div class="header" id="head">
  <div class="title">hhh人事管理系统
	  <img src="/images/background.jpg" class="mn">
  </div>
	
</div>

<div class="wrap" id="wrap">
	<div class="logGet">
			<!-- 头部提示信息 -->
			 <div class="logD logDtip">
				<p class="p1">登录</p>
			</div> 
			 <!-- 输入框 -->
			<form action="/login" method="POST">
			<div class="lgD">
				<img src="/images/logName.png" width="20" height="20" alt=""/>
				<input type="text" name="name" placeholder="输入用户名" />
			</div> 
			<div class="lgD">
				<img src="/images/logPwd.png" width="20" height="20" alt=""/>
				<input type="text" name="password" placeholder="输入用户密码" />
			</div>
		
			<div class="logC" style="height: 100px;">
				
			<input type="submit" value="登录">
			<a href="/zc" target="_self" class="l">注册</a>
			
			</div>
			
			
		</form>
		</div>
</div>

<div class="footer" id="foot">
  <div class="copyright">
    <p>Copyright © 2018 Qunar.com Inc. All Rights Reserved.</p>
    <div class="img">
		<i class="icon"></i><span>联系邮箱：jiankangsun@yahoo.com</span>
	</div>
	
	<div class="img">
		<i class="icon1"></i><span>联系地址：江西软件职业技术大学</span>
	</div>
	  
	<div class="img">
	  <i class="icon2"></i><span>联系电话：18355042634</span>
	</div>
 
 
  </div>
	
</div>
	
	
</body>
</html>

