<!doctype html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Title -->
		<title>管理页面</title>

		<!-- Favicon -->
		<link rel="icon" href="favicon.ico" type="image/x-icon" />

		<!-- Include CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/owl-carousel/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/owl-carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css3/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/test3.css">
		
		<!--<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,400i,700,800" rel="stylesheet">--->

	</head>

	<body>
         


		<!-- Loader -->
		<div id="loader" class="loader">
			<div class="loader-content">
				<img src="/images/img3/loader.png" alt="Loading...">
			</div>
		</div>

		<!-- Header container -->
		<div class="header-bg">
			<!-- Container -->
			<div class="container">

				<div class="row flex">
					<!-- Logo column -->
					<div class="col-xs-12 col-sm-5 col-md-4 flex">
						<a href="index.html">
							<!-- Logo -->
							<img src="/images/img3/logo.png" class="logo img-responsive" alt="PhotoMarket">
						</a>
					</div>

					<!-- Menu column -->
					<div class="col-xs-12 col-sm-7 col-md-8 flex flex-center">
						<!-- Menu -->
						<ul class="nav nav-pills">
							<li role="presentation"><a href="#" id="cart" data-toggle="tooltip" data-placement="bottom" title="Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="badge">4</span></a></li>
							<li role="presentation"><a href="#">Log out</a></li>
							<li role="presentation"><a href="account.html">Your Account</a></li>
							<li role="presentation"><a href="login.html"><b>Welcome,</b> <span>log in</span></a></li>
						</ul>

					</div>
				</div>

				<!-- Shopping cart -->
				<div class="container absolute cart-container">
					<div class="shopping-cart">
						<!-- Shopping cart header -->
						<div class="shopping-cart-header">
							<!-- Total products in cart -->
							<i class="fa fa-shopping-cart cart-icon"></i><span class="badge">4</span>
							<!-- Total cart -->
							<div class="shopping-cart-total">
								<span class="lighter-text">Total:</span>
								<span class="main-color-text">$34.98</span>
							</div>
						</div>
						<!-- Shopping cart items -->
						<ul class="shopping-cart-items">
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/1.jpg" width="70" alt="item1" />
								<!-- Item Name -->
								<span class="item-name">Rails</span>
								<!-- Item Price -->
								<span class="item-price">$19.99</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/2.jpg" width="70" alt="item2" />
								<!-- Item Name -->
								<span class="item-name">Forest leaves</span>
								<!-- Item Price -->
								<span class="item-price">$9.99</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/3.jpeg.jpg" width="70" alt="item3" />
								<!-- Item Name -->
								<span class="item-name">The tiger</span>
								<!-- Item Price -->
								<span class="item-price">$5.00</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
							<!-- Shopping cart item -->
							<li class="clearfix">
								<!-- Item photo -->
								<img src="/images/img3/cart-images/4.jpeg.jpg" width="70" alt="item4" />
								<!-- Item Name -->
								<span class="item-name">Flowers</span>
								<!-- Item Price -->
								<span class="item-price">FREE</span>
								<!-- Item Quantity -->
								<span class="item-quantity">Quantity: 01</span>
							</li>
						</ul>
						<!-- Checkout button -->
						<a href="checkout.html" class="button">Checkout</a>
					</div>
				</div>

			</div>
		</div>

		<!-- Page container -->
		<div class="inner-content">
			<div class="container">

				<!-- Breadcrumb -->
				<div class="row">
					<div class="col-sm-12">
						<ol class="breadcrumb">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li class="active">
								Authentication
							</li>
						</ol>
					</div>
				</div>

			
								注册人员管理界面
								</h4>
								<!-- <button class="e"onclick="add()" style="margin-left: 800px;">添加</button> -->
							<a href="/dtxr/person_add"><button class="b">添加</button></a>
								
								<div class="line-dec"></div>
								<table class="ui" id="er">
                                    <thead>
                                
                                <tr >
                                    <th class="q">name</th>
                                    <th class="q">password</th>
                                    <th class="q">email</th>
                                    <th class="w">phone</th>
                                    <th class="y">create_time</th> 
                                    <th class="t">update_time</th>
                                    <th>操作</th>
                                </tr>
                                    <tbody class="show1" >
                                            <% detail.forEach((d,i)=>{ %>
                                                <form action="/manage_person/a" method="POST">
                                            <tr>
                                                <td><%=d.name %></td><input type="hidden" name="name" value="<%=d.name %>">
                                                <td><%=d.password %></td>
                                                <td><%=d.email %></td>
                                                <td><%=d.phone %></td>
                                                <td><%=d.create_time %></td>
                                                <td><%=d.update_time %></td>
                                                <td class="j"> 
                                                    <button class="o" data-id=<%=i %>>删除</button>  
                                                     </form>	
                                                    <button class="i" data-id=<%=i %>>修改</button></a>
                                                   
                                                <span class="upBtn"></span><span class="downBtn"></td>
                                            </tr>
                                            	
                                        <%})  %>
                                            
                                            
                                        
                                        </tbody>
                                </table>
									
					            </div>

					<!-- Sidebar -->
					<div class="col-sm-4 col-md-3"  style="position:relative;
					margin-top: -100px;
					margin-left: 1049px;
					">
					
					

						<div class="sidebar-item">
							<h4 class="title">Search</h4>
							<div class="line-dec"></div>

							<!-- Search form -->
							<form class="form-inline" action="/d/b" method="POST" >
								<div class="form-group">
									<input type="text" name="name" class="form-control" placeholder="Book Search...">
								</div>
								<button type="submit" class="btn btn-primary" style="margin-top: 10px;"><i class="fa fa-search" aria-hidden="true">submit</i></button>
							</form>
						</div>

						<div class="sidebar-item">
							<h4 class="title">Categories</h4>
							<div class="line-dec"></div>

							<ul class="list-group">
								<li class="list-group-item">
									<a href="category.html">Animals</a>
								</li>
								<li class="list-group-item">
									<a href="category.html">Nature</a>
								</li>
								<li class="list-group-item">
									<a href="category.html">Landscapes</a>
								</li>
								<li class="list-group-item">
									<a href="category.html">Weddings</a>
								</li>
							</ul>
						</div>

						<!-- <div class="sidebar-item">
							<h4 class="title">Cart</h4>
							<div class="line-dec"></div>

							<small><b>4</b> products added.</small>
							<br><br>

							<table class="table">
								<tr>
									<td>Total:</td>
									<td class="text-right"><b>34.98$</b></td>
								</tr>
							</table>
						</div> -->

					</div>

				</div>

			</div>
		</div>

		<!-- Footer -->
		<div class="container" style="padding-top: 100px;">
			<div id="footer">
				<div class="row">
					<!-- Information column -->
					<div class="col-sm-4">
						<h4 class="footer-title">Information</h4>
						<div class="line-dec"></div>
						<ul>
							<li><a href="javascript:void(0)" data-toggle="modal" data-target="#legalModal">Legal advice</a></li>
							<li><a href="javascript:void(0)" data-toggle="modal" data-target="#termsModal">Terms and conditions</a></li>
							<li><a href="about-us.html">About us</a></li>
						</ul>
					</div>

					<!-- Offers column -->
					<div class="col-sm-4">
						<h4 class="footer-title">Our offers</h4>
						<div class="line-dec"></div>
						<ul>
							<li><a href="#">New photos</a></li>
							<li><a href="#">Top sellers</a></li>
							<li><a href="#">Discount photos</a></li>
						</ul>
					</div>

					<!-- Account column -->
					<div class="col-sm-4">
						<h4 class="footer-title">Your account</h4>
						<div class="line-dec"></div>
						<ul>
							<li><a href="account.html">Your prsofile</a></li>
							<li><a href="#">Personal information</a></li>
							<li><a href="#">Shopping history</a></li>
						</ul>
					</div>

					<!-- Copyright -->
					<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
		</div>

		<!-- Modal Legal advice -->
		<div class="modal fade" id="legalModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<h4 class="title">Legal advice</h4>
						<div class="line-dec"></div>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							<br><br>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Terms and conditions -->
		<div class="modal fade" id="termsModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<h4 class="title">Terms and conditions</h4>
						<div class="line-dec"></div>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							<br><br>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Include Scripts -->
		<script type="text/javascript" src="/javascripts/js3/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/javascripts/js3/bootstrap.min.js"></script>
		<script type="text/javascript" src="/stylesheets/css3/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/javascripts/js3/main.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="/javascripts/jquery-3.5.1.min.js"></script>
		<script src="/javascripts/jquery-3.5.1.js"></script>	  
	    <script src="/javascripts/Table1.js"></script>
	</body>
</html>

