<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/add1.css">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    
     <!-- <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="shortcut icon" href="img/bitbug_favicon2.ico" />  -->
</head>
<body>
          <div class="changes" id="changes">
    <form action="/manage_person" method="POST">
                 <span>书籍 id：</span>
                <input type="text" name="id" value="<%=id %>"required="">
              
                <span>name ：</span>
                <input type="text" name="name" value="<%=obj.name %>"placeholder="请输入名字"class="change" required="">
            
                <span>password：</span>
                <input type="text"   name="password" value="<%=obj.password %>" placeholder="请输入数学成绩" class="change"required="">

                <span>email：</span>
                <input type="text"   name="email" value="<%=obj.email %>" placeholder="请输入英语成绩" class="change"required="">
          
                <span>phone：</span>
                <input type="text"   name="phone" value="<%=obj.phone %>" placeholder="请输入总成绩" class="change"required=""> 
           
                <span>create_time：</span>
                <input type="text"   name="create_time" value="<%=obj.create_time %>" placeholder="请输入总成绩" class="change"required=""> 
           
                <span>update_time：</span>
                <input type="text"   name="update_time" value="<%=obj.update_time %>" placeholder="请输入总成绩" class="change"required=""> 
                <input type="submit" value="提交">  
            </form>
        </div> 
   
    


</body>
</html>