
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/test3.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
</head>
<body>

 <div class="all">后台管理系统</div>
 
 <span class="bn1">
    <button type="submit" class="b" onclick="search()">查询</button>
 
    
   
    <a class="io" id="clearAll"href="" onclick="aob()">清空</a>
</span>
            <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color= black,strength=10)" width="90%" color=black SIZE=1>
        
        
                <div class="f">
                <div class="d">
                 <a href="/dtxr" class="pp"><button class="e"onclick="add()">+ 添加</button></a> 
             
               </div>
                </div>
               <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color= black,strength=10)" width="90%" color=black SIZE=1>
       
       <div class="all1" style="color: red;">
        <div class="ad">
<table class="ui" id="er">
    

<tr >
    <th class="q">编号</th>
    <th class="q">名称</th>
    <th class="q">作者</th>
    <th class="w">类别</th>
    <th class="y">描述</th> 
    <th class="y">价格</th> 
    <th class="t">操作</th>
</tr>
	<tbody class="show1" >
			<% detail.forEach((d,i)=>{ %>
            <tr>
				<td><%=d.编号 %></td>
				<td><%=d.名称 %></td>
				<td><%=d.作者 %></td>
				<td><%=d.分类 %></td>
				<td><%=d.描述 %></td>
                <td><%=d.价格 %></td>
				<td class="j">
					<button class="i" data-id=<%=i %>>修改</button></a>
					<button class="o" data-id=<%=i %>>删除</button>   
				<span class="upBtn"></span><span class="downBtn"></td>
			</tr>
		
		<%})  %>
			
			
		
		</tbody>
        
</table>

        </div>
        <button onclick="next()">下一页</button>
       </div>
      
        
    

  </body>
  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/jquery-3.5.1.js"></script>
<script src="/javascripts/jq_test.js"></script>
<script src="/javascripts/Table.js"></script>
</html> 